Log In!


<form action="/login" method="post">
    <label for="username">Username: </label>
        <input type="text" name="username" value="">
    <label for="password">Password: </label>
        <input type="text" name="password" value="">
    <input type="submit" value="Login">
</form>

<a href="/">Back</a>
<%#name= is the key and value is the value%>
<%#names match the attributes%>