<h2>Please Log In</h2>
<br>
<form action="/login" method="post">
    <label for="username">Username: </label>
        <input type="text" name="username" value="">
    <label for="password">Password: </label>
        <input type="password" name="password" value="">
    <input type="submit" value="Login">
</form>
<br><br>
<a href="/">Back to Welcome Page</a>
<%#name= is the key and value is the value%>
<%#names match the attributes%>