<header><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3aiwEJ9uXfM96sv3QtkT4UdZYV-bCxhcT45Por0Wf8udobDD5"</header>
<h2><%= @user.username %>'s profile</h2>

<h3>Books You've Read:</h3>
<br>
<% @user.books.each do |book| %>
    <p><a href="/books/<%= book.id %>"> <%= book.title %> </a></p>
<% end %>

