<h2>Sign Up Below!</h2>

<form action="/users" method="post"> 
    <label for="email"> Email: </label>
        <input type="text" name="email" value="">
    <label for="username"> Username: </label>
        <input type="text" name="username" value="">
    <label for="password"> Password: </label>
        <input type="text" name="password" value="">
    <input type="submit" value="Create User">
</form>

<a href="/">Back</a>

<%#action is the route i want to redirect to after sign up info is submitted %>
<%#name attribute of html input %>
<%#whatever we set name equal to becomes the key, and whatever we type into the boxes on the sign up page becomes the value %>
<%#can also do the following instead of label tag: Email: <input type="text" name="email" value=""> %>
<%#or even this: <h6>Email:</h6><input type="text" name="email" value=""> %>