<h2>Sign Up Below!</h2>
<br>
<form action="/users" method="post"> 
    <label for="email"> Email: </label>
        <input type="text" name="email" value="">
    <label for="username"> Username: </label>
        <input type="text" name="username" value="">
    <label for="password"> Password: </label>
        <input type="password" name="password" value="">
    <input type="submit" value="Create User">
</form>
<br><br>
<a href="/">Back to Welcome Page</a>