<h2>Edit a Book: </h2>

<form class "" action="/books/<%= @book.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="title"> Title: </label>    
        <textarea name="title" style="width:auto; height:auto;"><%= @book.title %></textarea>
        <br><br>
    <label for="author"> Author: </label>  
        <textarea name="author" style="width:auto; height:auto;"><%= @book.author %></textarea>
        <br><br>
    <label for="comments"> Comments: </label>  
        <textarea name="comments" style="width:auto; height:auto;"><%= @book.comments %></textarea>
    <input type="submit" name="" value="Edit Book">
</form>


<%#could use placeholder tag but that would only grey out the text, you'd still have to retype everything%>