<header><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTgj2ZsafGeCQMAKLMbUFklX_Ul1MnYnXOIfZ7KSve0nVLbDG37"</header>
<h2>Add a New Book: </h2>

<form class "" action="/books" method="post">
    <label for="title"> Title: </label>  
        <textarea name="title" style="width:auto; height:auto;"%></textarea>  
        <br><br>
    <label for="title"> Author: </label>  
        <textarea name="author" style="width:auto; height:auto;"%></textarea>  
        <br><br>
    <label for="comments"> Comments: </label>  
        <textarea name="comments" style="width:auto; height:auto;"%></textarea>  
    <input type="submit" name="" value="Add Book">
</form>