<div class="container">
<header><img src="https://lh6.googleusercontent.com/proxy/AyECTmcPoNnvBtXRUjj2gm0kYrQnjuwzor8fLaw9Xx3wr1_xwvnNbpPJ50dyo2O7rkAMcqDpV9pJX8J0nTvvLE-4nWvt7VFxPxg3FdnOzDZRB2EdLw"></header>
<div class="col-md-8 col-md-offset-2">
  <h2>Welcome to Your Book Tracker</h2>

 <div class="content">
   <h5>Please Sign Up or Log In Below</h5>
   
     <form action="/login" method=get>
       <input type="submit" class="button" value="Login"/>
     </form
   
   <div class="btn-group">
     <form action="/signup" method=get>
       <input type="submit" class="button" value="Sign Up"/>
     </form
   </div>
   <br>
 </div>
