<div class="container">

<header><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMfaWiIp-ouzRxKoXskhgI9ir34e5Vx0WZ1BlZ8N6Aaqgh-DHz"</header>
<div class="col-md-8 col-md-offset-2">
  <h2>Welcome to Your Book Tracker</h2>

 <div class="content">
   <h5>Please Log In or Sign Up Below</h5>
   
     <form action="/login" method=get>
       <input type="submit" class="button" value="Login"/>
     </form
   
   <div class="btn-group">
     <form action="/signup" method=get>
       <input type="submit" class="button" value="Sign Up"/>
     </form
   </div>
   <br>
 </div>
