<div class="container">

<header><img src="https://lh3.googleusercontent.com/proxy/nv7zN2zoq0fK6X23a4FqF-B64OhZb2vhdebPjW0EPUw2hA-YH6G2UDDV4cX7wL35afUTACsHQvKYxUtxqr3d0a9qLsVWt7vJfuSV7fGGjEbjy4XS6bC5ZV7p"</header>
<div class="col-md-8 col-md-offset-2">
  <h2>Welcome to Your Book Tracker</h2>

 <div class="content">
   <h5>Please Log In or Sign Up Below</h5>
   
     <form action="/login" method=get>
       <input type="submit" class="button" value="Login"/>
     </form
   
   <div class="btn-group">
     <form action="/signup" method=get>
       <input type="submit" class="button" value="Sign Up"/>
     </form
   </div>
   <br>
 </div>
